<a class="scroll-top btn-primary btn-bar" title="Back to Top">
	<i class="fa fa-angle-up"></i>
</a>
<div class="footer">
    <div class="pull-right">
        Hartama Technology
    </div>
    <div>
        <strong>Copyright</strong>Hartama &copy; 2017
    </div>
</div>
